- hosts: nagios
  become: yes

  tasks:
    - name: Update system packages
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Nagios dependencies
      apt:
        name:
          - autoconf
          - automake
          - gcc
          - libc6
          - make
          - wget
          - unzip
          - apache2
          - php
          - gawk
          - libgd-dev
          - libmcrypt-dev
          - libssl-dev
          - libpng-dev
          - libjpeg-dev
          - libglib2.0-dev
          - libtool
          - curl
        state: present

    - name: Create nagios user
      user:
        name: nagios
        state: present
        shell: /bin/bash
        home: /var/nagios

    - name: Create nagcmd group
      group:
        name: nagcmd
        state: present

    - name: Add nagios user to nagcmd group
      user:
        name: nagios
        groups: nagcmd
        append: yes

    - name: Add www-data to nagcmd group
      user:
        name: www-data
        groups: nagcmd
        append: yes

    - name: Download Nagios Core
      shell: |
        cd /tmp
        wget https://github.com/NagiosEnterprises/nagioscore/releases/download/nagios-4.4.13/nagios-4.4.13.tar.gz
        tar xzf nagios-4.4.13.tar.gz
      args:
        creates: /tmp/nagios-4.4.13

    - name: Compile and install Nagios Core
      shell: |
        cd /tmp/nagios-4.4.13
        ./configure --with-command-group=nagcmd --prefix=/usr/local/nagios
        make all
        make install
        make install-init
        make install-config
        make install-webconf
      args:
        creates: /usr/local/nagios/bin/nagios

    - name: Download Nagios Plugins
      shell: |
        cd /tmp
        wget https://github.com/nagios-plugins/nagios-plugins/releases/download/release-2.3.3/nagios-plugins-2.3.3.tar.gz
        tar xzf nagios-plugins-2.3.3.tar.gz
      args:
        creates: /tmp/nagios-plugins-2.3.3

    - name: Compile and install Nagios Plugins
      shell: |
        cd /tmp/nagios-plugins-2.3.3
        ./configure --with-nagios-user=nagios --with-nagios-group=nagios --prefix=/usr/local/nagios
        make
        make install
      args:
        creates: /usr/local/nagios/libexec/check_http

    - name: Set Nagios permissions
      shell: |
        chown -R nagios:nagios /usr/local/nagios
        chmod -R 755 /usr/local/nagios

    - name: Create htpasswd for Nagios web UI
      shell: |
        htpasswd -cb /usr/local/nagios/etc/htpasswd.users nagios nagios123
      args:
        creates: /usr/local/nagios/etc/htpasswd.users

    - name: Configure Apache for Nagios
      copy:
        dest: /etc/apache2/sites-available/nagios.conf
        content: |
          <VirtualHost *:80>
            ServerName nagios.local
            DocumentRoot /usr/local/nagios/share
            
            <Directory /usr/local/nagios/share>
              AllowOverride None
              Options None
              <IfModule mod_authz_core.c>
                Require all granted
              </IfModule>
              <IfModule !mod_authz_core.c>
                Order allow,deny
                Allow all
              </IfModule>
            </Directory>

            ScriptAlias /cgi-bin/ "/usr/local/nagios/sbin/"
            <Directory "/usr/local/nagios/sbin">
              AllowOverride None
              Options ExecCGI FollowSymLinks
              <IfModule mod_authz_core.c>
                AuthType Basic
                AuthName "Nagios Access"
                AuthUserFile /usr/local/nagios/etc/htpasswd.users
                Require valid-user
              </IfModule>
              <IfModule !mod_authz_core.c>
                Order allow,deny
                Allow all
              </IfModule>
            </Directory>
          </VirtualHost>

    - name: Enable Apache modules
      shell: |
        a2enmod rewrite
        a2enmod cgi
        a2enmod version
        a2enmod auth_basic
        a2enmod authn_file
        a2enmod authz_user

    - name: Enable Nagios site
      shell: a2ensite nagios.conf
      args:
        creates: /etc/apache2/sites-enabled/nagios.conf

    - name: Create monitoring targets directory
      file:
        path: /usr/local/nagios/etc/servers
        state: directory
        owner: nagios
        group: nagios
        mode: '0755'

    - name: Create Nagios host config for app (placeholder)
      copy:
        dest: /usr/local/nagios/etc/servers/app.cfg
        content: |
          define host {
            use                     linux-server
            host_name               nextjs-app
            alias                   NextJS App Server
            address                 10.0.1.0
            check_command           check-host-alive
          }

          define service {
            use                     generic-service
            host_name               nextjs-app
            service_description     HTTP Port 80
            check_command           check_http!-p 80 -w 10 -c 20
          }

          define service {
            use                     generic-service
            host_name               nextjs-app
            service_description     CPU Load
            check_command           check_nrpe!check_load
          }

          define service {
            use                     generic-service
            host_name               nextjs-app
            service_description     Disk Usage
            check_command           check_nrpe!check_disk
          }

          define service {
            use                     generic-service
            host_name               nextjs-app
            service_description     Memory Usage
            check_command           check_nrpe!check_memory
          }
        owner: nagios
        group: nagios
        mode: '0644'
      
    - name: Important - Update app IP in Nagios config
      debug:
        msg: "⚠️  IMPORTANT: SSH into Nagios and update /usr/local/nagios/etc/servers/app.cfg with the app's PRIVATE IP from Terraform, then restart nagios"

    - name: Verify Nagios config
      shell: /usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg
      register: nagios_verify
      failed_when: nagios_verify.rc > 1

    - name: Install NRPE on Nagios server
      apt:
        name:
          - nagios-nrpe-server
          - nagios-plugins-standard
        state: present

    - name: Configure NRPE on Nagios server
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: '^allowed_hosts='
        line: "allowed_hosts=127.0.0.1"

    - name: Enable and start NRPE
      service:
        name: nagios-nrpe-server
        state: restarted
        enabled: yes

    - name: Enable Nagios modules in config
      lineinfile:
        path: /usr/local/nagios/etc/nagios.cfg
        regexp: '^cfg_dir=/usr/local/nagios/etc/servers'
        line: "cfg_dir=/usr/local/nagios/etc/servers"
        state: present

    - name: Start Nagios service
      shell: |
        systemctl enable nagios
        systemctl start nagios

    - name: Start Apache
      service:
        name: apache2
        state: restarted
        enabled: yes
